<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:with="activeTab='regional'"
      layout:decorate="~{layout}">
    <head>
        <title>Form Regional</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <section layout:fragment="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="card-box">
                        <form class="form-horizontal" th:object="${regional}" th:action="@{/master/regional/form}" method="post">
                            <input type="hidden" th:field="*{id}"/>
                            <div class="form-group">
                                <label class="control-label col-sm-2">Code</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="Code" th:field="*{code}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="Name" th:field="*{name}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <a th:href="@{/master/regional/list}" class="btn btn-primary"><i class="fa fa-reply"></i> Cancel</a>
                                    <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
