<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:with="activeTab='regional'"
      layout:decorate="~{layout}">
    <head>
        <title>Dashborad</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <section layout:fragment="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-title-box">
                        <h4 class="page-title">Regional List</h4>
                        <ol class="breadcrumb p-0">
                            <li>
                                <span>Master</span>
                            </li>
                            <li>
                                <span>Regional</span>
                            </li>
                            <li>
                                <span>List</span>
                            </li>
                        </ol>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="card-box">
                        <a th:href="@{/master/regional/form}" class="btn btn-primary btn-rounded waves-effect waves-light">Add Regional</a>
                        <div class="row">
                            <div class="col-sm-12 col-xs-4 col-md-12 m-t-20">
                                <div class="p-20">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Code</th>
                                                <th>Name</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="data : ${datas.content}">
                                                <td th:text="${data.code}"></td>
                                                <td th:text="${data.name}"></td>
                                                <td>
                                                    <a th:href="@{/master/regional/form(id=${data.id})}" class="btn btn-info btn-rounded waves-effect waves-light"><i class="fa fa-pencil"></i> Edit</a>
                                                    <a th:href="@{/master/regional/delete(id=${data.id})}" class="btn btn-danger btn-rounded waves-effect waves-light"><i class="fa fa-trash"></i> Delete</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <nav style="text-align: center">
                                        <ul class="pagination pagination-split" sd:pagination="full">
                                            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                                            <li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>