<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:with="activeTab='userAdmin'"
      layout:decorate="~{layout}">
    <head>
        <title>Form User Administrator</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <section layout:fragment="content">
            <div class="col-12">
                <div class="card-box">
                    <form class="form-horizontal" th:object="${userAdmin}" th:action="@{/system/user_administrator/form}" method="post">
                        <input type="hidden" th:field="*{id}" />
                        <input type="hidden" th:field="*{user.id}" />
                        <div class="form-group">
                            <label class="control-label col-sm-2">Name</label>
                            <div class="col-sm-10">          
                                <input type="text" class="form-control" placeholder="Name" th:field="*{name}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Username</label>
                            <div class="col-sm-10">          
                                <input type="text" class="form-control" placeholder="Username" th:field="*{user.username}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Email</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" placeholder="Email" th:field="*{email}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Phone Number</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Phone Number" th:field="*{phone}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Date Of Birth</label>
                            <div class="col-sm-10">
                                <input type="date" class="form-control" placeholder="Date Of Birth" th:field="*{dateOfBirth}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Gender</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Name" th:field="*{gender}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" placeholder="Password" name="password">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <a th:href="@{/system/user_administrator/list}" class="btn btn-primary"><i class="fa fa-reply"></i> Cancel</a>
                                <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </body>
</html>
