<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:with="activeTab='group'"
      layout:decorate="~{layout}">
    <head>
        <title>Form Group</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <section layout:fragment="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="card-box">
                        <form class="form-horizontal" th:action="@{/master/group/form}" method="post" th:object="${group}">
                            <input type="hidden" th:field="*{id}">
                            <div class="form-group">
                                <label class="control-label col-sm-2"> Name </label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" 
                                           th:field="*{name}" placeholder="Name" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2"> Max Member </label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" 
                                           th:field="*{maxMember}" placeholder="Max Member" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2"> Category </label>
                                <select class="form-control select2" th:field="*{category}">
                                    <option style="display: none;" value="">Select</option>
                                        <option th:each="c : ${listCategory}" th:value="${c.id}" th:text="${c.name}"></option>
                                </select>
                            </div>  
                            <div class="col-xs-12 col-sm-12 col-md-12 col-xl-6 m-t-sm-40">
                                <h6>Days</h6>
                                <div class="m-b-0">
                                    <select multiple data-role="tagsinput" th:field="*{days}">
                                        <option value="Senin">Senin</option>
                                        <option value="Selasa">Selasa</option>
                                        <option value="Rabu">Rabu</option>
                                        <option value="Kamis">Kamis</option>
                                        <option value="Jum'at">Jum'at</option>
                                        <option value="Sabtu">Sabtu</option>
                                        <option value="Minggu">Minggu</option>
                                    </select>
                                </div>
                            </div> 
                            <div class="form-group">
                                <label class="control-label col-sm-2"> Time </label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" 
                                           th:field="*{hours}" placeholder="Time" />
                                </div>
                            </div>  
                            <div class="form-group">
                                <label class="control-label col-sm-2"> Min Age </label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" 
                                           th:field=*{minAge} placeholder="Min Age" />
                                </div>
                            </div>  
                            <div class="form-group">
                                <label class="control-label col-sm-2"> Max Age </label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" 
                                           th:field=*{maxAge} placeholder="Max Age" />
                                </div>
                            </div> 
                            <div class="form-group">
                                <label class="control-label col-sm-2"> Regional </label>
                                <select class="form-control select2" th:field="*{regional}">
                                    <option style="display: none;" value="">Select</option>
                                        <option th:each="r : ${listRegional}" th:value="${r.id}" th:text="${r.name}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2"> Location </label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" 
                                           th:field="*{location}" placeholder="Location"  />
                                </div>
                            </div> 
                            <button class="btn btn-info" type="submit">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
<!--        <section layout:fragment="customJS">
            <script>
                $("#category").on("change", function () {
                    console.log("value = " + this.value);
                })
            </script>
        </section>-->
    </body>
</html>
