<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:with="activeTab='group'"
      layout:decorate="~{layout}">
    <head>
        <title>Dashborad</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <section layout:fragment="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xl-12 col-md-6 col-lg-6">
                        <div class="card-box tilebox-one" style="padding: 10px;">
                            <a th:href="@{/master/group/form}" class="btn btn-info waves-effect waves-light">Add Group</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4" th:each="g : ${data}">
                    <div class="col-xl-12 col-md-6 col-lg-6">
                        <div class="card-box tilebox-one" style="padding: 3%;height: 100%;">
                            <span class="text-muted" th:text="${g.maxMember}"> 6 of 6 </span><span class="label label-danger pull-xs-right"> Full </span>
                            <h2 class="m-b-0" style="text-align: center;margin-top: 10px;" th:text="${g.name}"></h2>
                            <div class="card-box tilebox-one">
                                <h6 class="text-muted" style="margin-top: 10px;" >Category</h6>
                                <!--Field catagory-->
                                <h6><span class="m-b-20" th:text="${g.category.name}"></span></h6>
                                <hr>
                                <h6 class="text-muted" style="margin-top: 10px;">Days</h6>
                                <!--Field days-->
                                <span class="label label-success" th:each="days : ${#strings.arraySplit(g.days, ',')}" th:text="${days}"> Sabtu </span>
                                <hr>
                                <h6 class="text-muted" style="margin-top: 10px;">Hours</h6>
                                <!--Field hours-->
                                <h6><span class="m-b-20" th:text="${g.hours}"> 19.00 WIB </span></h6>
                                <hr>
                                <h6 class="text-muted" style="margin-top: 10px;"> Min Age </h6>
                                <!--Field minAge-->
                                <h6><span class="m-b-20" th:text="${g.minAge}"> 16Th </span></h6>
                                <hr>
                                <h6 class="text-muted" style="margin-top: 10px;"> Max Age </h6>
                                <!--Field maxAge-->
                                <h6><span class="m-b-20"th:text="${g.maxAge}"> 99Th </span></h6>
                                <hr>
                                <h6 class="text-muted" style="margin-top: 10px;"> Regional </h6>
                                <!--Field regional-->
                                <h6><span class="m-b-20" th:text="${g.regional.name}"> West Java </span></h6>
                                <hr>
                                <h6 class="text-muted" style="margin-top: 10px;"> Location </h6>
                                <!--Field location-->
                                <p><span th:text="${g.location}"> Jalan Bojong Soang, Bandung </span></p>
                            </div>
                            <center>
                                <a th:href="@{/master/group/form(id=${g.id})}" class="btn btn-info btn-sm">Edit</a>
                                <a th:href="@{/master/group/delete(id=${g.id})}" class="btn btn-danger btn-sm">Delete</a>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>