<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:with="activeTab='permission'"
      layout:decorate="~{layout}">
    <head>
        <title>Form Permission</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <section layout:fragment="content">
            <div>
                <div class="col-xs-12">
                    <div class="card-box">
                        <form class="form-horizontal" th:object="${permission}" th:action="@{/system/permission/form}" method="post">
                            <input type="hidden" th:field="*{id}" />
                            <div class="form-group">
                                <label class="control-label col-sm-2">Label</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="Label" th:field="*{label}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2">Permission</label>
                                <div class="col-sm-10">
                                    <select class="form-control select2" th:field="*{value}">
                                        <option style="display: none;" value="">Select</option>
                                        <option value="ROLE_ADMIN">Role User Admin</option>
                                        <option value="ROLE_USER_MEMBER">Role User Member</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" style="margin-top: 20px;margin-left: -20%;">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <a th:href="@{/system/permission/list}" class="btn btn-primary"><i class="fa fa-reply"></i> Cancel</a>
                                    <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
