<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:with="activeTab='member'"
      layout:decorate="~{layout}">
    <head>
        <title>Dashborad</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
    	<section layout:fragment="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-title-box">
                        <h4 class="page-title">Detail</h4>
                        <ol class="breadcrumb p-0">
                            <li>
                                <span>Member</span>
                            </li>
                        </ol>
                        <div class="clearfix"></div>
                    </div>
                    <div class="card-box">
                        <div class="row">
                            <div class="col-sm-12 col-xs-4 col-md-12 m-t-20">
                                <div class="p-20">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Date of Birth</th>
                                                <th>Email</th>
                                                <th>Phone Number</th>
                                                <th>Address</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="data : ${data.content}">
                                                <td th:text="${data.name}"></td>
                                                <td th:text="${#dates.format(data.dateOfBirth, 'dd-MM-yyyy')}"></td>
                                                <td th:text="${data.email}"></td>
                                                <td th:text="${data.phone}"></td>
                                                <td th:text="${data.address}"></td>
                                                <td>
                                                    <a th:href="@{/member/detail(id=${data.id})}" class="btn btn-info btn-rounded waves-effect waves-light"><i class="fa fa-search"></i> Detail</a>
                                                    <a th:href="@{/}" class="btn btn-danger btn-rounded waves-effect waves-light"><i class="fa fa-hand-stop-o"></i> Block</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <nav style="text-align: center;">
                                        <ul class="pagination pagination-split" sd:pagination="full">
                                            <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                                            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                                            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>