<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:with="activeTab='role'"
      layout:decorate="~{layout}">
    <head>
        <title>Form Role</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <section layout:fragment="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="card-box">
                        <form class="form-horizontal" th:object="${role}" th:action="@{/system/role/form}" method="post">
                            <input type="hidden" th:field="*{id}" />
                            <div class="form-group">
                                <label class="control-label col-sm-2">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="Name" th:field="*{name}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2">Comment:</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" th:field="*{description}" placeholder="Description"></textarea>
                                </div>
                            </div> 
                            <div class="form-group" style="margin-top: 20px; margin-left: -20%;">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <a th:href="@{/system/role/list}" class="btn btn-primary"><i class="fa fa-reply"></i> Cancel</a>
                                    <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
