<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:with="activeTab='listRequest'"
      layout:decorate="~{layout}">
    <head>
        <title>Aplikasi</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <section layout:fragment="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-title-box">
                        <h4 class="page-title">List Request Member Group</h4>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="card-box">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12 col-md-12 m-t-20">
                                <div class="p-20">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Phone Number</th>
                                                <th>Date Of Birth </th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="data : ${datas.content}">
                                                <td th:text="${data.userMember.name}"></td>
                                                <td th:text="${data.userMember.phone}"></td>
                                                <td th:text="${#dates.format(data.userMember.dateOfBirth, 'YYYY-MM-dd')}"></td>
                                                <td th:text="${data.memberGroupStatus}">
                                                    <span class="label label-success">Request</span>
                                                </td>
                                                <td>
                                                    <a href="#" class="btn btn-info btn-rounded waves-effect waves-light">Detail</a>
                                                    <a th:href="@{/admin/group/accept(id=${data.id})}" class="btn btn-success btn-rounded waves-effect waves-light">
                                                        <i class="fa fa-handshake-o"></i>
                                                    <a th:href="@{/admin/group/reject(id=${data.id})}" class="btn btn-danger btn-rounded waves-effect waves-light"><i class="fa fa-recycle"></i> Reject</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <nav style="text-align: center">
                                        <ul class="pagination pagination-split" sd:pagination="full">
                                            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                                            <li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
