<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc."/>
        <meta name="author" content="Coderthemes">

        <!-- App Favicon -->
        <link rel="shortcut icon" th:href="@{/images/favicon.png}">

        <!-- App title -->
        <title>Aplikasi</title>
        
        <!-- Plugins css-->
        <link th:href="@{/plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css}" rel="stylesheet" />
        <link th:href="@{/plugins/select2/css/select2.min.css}" rel="stylesheet" type="text/css" />

        <!--Morris Chart CSS -->
        <!--<link rel="stylesheet" th:href="@{/plugins/morris/morris.css}">-->

        <!-- Switchery css -->
        <link th:href="@{/plugins/switchery/switchery.min.css}" rel="stylesheet" />

        <!-- App CSS -->
        <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />

        <!-- Modernizr js -->
        <script th:src="@{/js/modernizr.min.js}"></script>

    </head>


    <body class="fixed-left">

        <!-- Begin page -->
        <div id="wrapper">

            <!-- Top Bar Start -->
            <div class="topbar">

                <!-- LOGO -->
                <div class="topbar-left">
                    <a th:href="@{/dashboard}" class="logo waves-light nav-user">
                        <img th:src="@{/images/siswa.png}" class="img-circle" alt="">
                        <span>Aplikasi</span></a>
                </div>
                <nav class="navbar navbar-custom">
                    <ul class="nav navbar-nav">
                        <li class="nav-item">
                            <button class="button-menu-mobile open-left waves-light waves-effect">
                                <i class="zmdi zmdi-menu"></i>
                            </button>
                        </li>
                        <li class="nav-item hidden-mobile">
                            <form role="search" class="app-search">
                                <input type="text" placeholder="Search..." class="form-control">
                                <a href=""><i class="fa fa-search"></i></a>
                            </form>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav pull-right">
                        <li class="nav-item dropdown notification-list">
                            <a class="nav-link dropdown-toggle arrow-none waves-light waves-effect" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="false" aria-expanded="false">
                                <i class="zmdi zmdi-notifications-none noti-icon"></i>
                                <span class="noti-icon-badge"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-lg" aria-labelledby="Preview">
                                <!-- item-->
                                <div class="dropdown-item noti-title">
                                    <h5><small><span class="label label-danger pull-xs-right">7</span>Notification</small></h5>
                                </div>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-success"><i class="icon-bubble"></i></div>
                                    <p class="notify-details">Robert S. Taylor commented on Admin<small class="text-muted">1min ago</small></p>
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-info"><i class="icon-user"></i></div>
                                    <p class="notify-details">New user registered.<small class="text-muted">1min ago</small></p>
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-danger"><i class="icon-like"></i></div>
                                    <p class="notify-details">Carlos Crouch liked <b>Admin</b><small class="text-muted">1min ago</small></p>
                                </a>

                                <!-- All-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item notify-all">
                                    View All
                                </a>

                            </div>
                        </li>


                        <li class="nav-item dropdown notification-list">
                            <a class="nav-link dropdown-toggle arrow-none waves-light waves-effect" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="false" aria-expanded="false">
                                <i class="zmdi zmdi-email noti-icon"></i>
                                <span class="noti-icon-badge"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-arrow-success dropdown-lg" aria-labelledby="Preview">
                                <!-- item-->
                                <div class="dropdown-item noti-title bg-success">
                                    <h5><small><span class="label label-danger pull-xs-right">7</span>Messages</small></h5>
                                </div>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-faded">
                                        <img th:src="@{/images/4.jpg}" alt="img" class="img-circle img-fluid">
                                    </div>
                                    <p class="notify-details">
                                        <b>Robert Taylor</b>
                                        <span>New tasks needs to be done</span>
                                        <small class="text-muted">1min ago</small>
                                    </p>
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-faded">
                                        <img th:src="@{/images/avatar-2.jpg}" alt="img" class="img-circle img-fluid">
                                    </div>
                                    <p class="notify-details">
                                        <b>Carlos Crouch</b>
                                        <span>New tasks needs to be done</span>
                                        <small class="text-muted">1min ago</small>
                                    </p>
                                </a>

                                <!-- item-->

                                <!-- All-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item notify-all">
                                    View All
                                </a>
                            </div>
                        </li>
                        <li class="nav-item dropdown notification-list">
                            <a class="nav-link waves-effect waves-light right-bar-toggle" href="javascript:void(0);">
                                <i class="zmdi zmdi-format-subject noti-icon"></i>
                            </a>
                        </li>
                        <li class="nav-item dropdown notification-list">
                            <a class="nav-link dropdown-toggle arrow-none waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="false" aria-expanded="false">
                               <img th:if="${session.ua.pictureUrl} == null"
                                     th:src="@{/images/user.png}" 
                                     alt="user" class="img-circle">
                                <img th:if="${session.ua.pictureUrl} != null" 
                                     th:src="@{/image/profile/} + ${session.ua.pictureUrl}" 
                                     alt="user" class="img-circle">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-arrow profile-dropdown " aria-labelledby="Preview">
                                <!-- item-->
                                <div class="dropdown-item noti-title">
                                    <h5 class="text-overflow"><small>Hi, </small> <small th:text="${userLoggedIn.username}" th:if="${!member}">John</small>
                                </div>

                                <!-- item-->
                                <a href="javascript:void(0);" th:href="@{/profile_user_admin/profile}" class="dropdown-item notify-item">
                                    <i class="zmdi zmdi-account-circle"></i> <span>Profile</span>
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);" th:href="@{/logout}" class="dropdown-item notify-item">
                                    <i class="zmdi zmdi-power"></i> <span>Logout</span>
                                </a>

                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- Top Bar End -->
            <!-- ========== Left Sidebar Start ========== -->
            <div class="left side-menu">
                <div class="sidebar-inner slimscrollleft">

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <ul>
                            <li class="has_sub">
                                <a th:class="${activeTab == 'dashboard'}? 'active' : null" th:href="@{/}"><i class="zmdi zmdi-view-dashboard"></i><span> Dashboard </span> </a>
                            </li>
                            <li class="has_sub">
                                <a href="javascript:void(0);" th:classappend="${activeTab == 'permission' or activeTab == 'role' or activeTab == 'user_administrator' ? 'active' : null}"><i class="zmdi zmdi-settings"></i> <span> System </span> <span class="menu-arrow"></span></a>
                                <ul class="list-unstyled">
                                    <li th:class="${activeTab == 'permission'}? 'active' : null"><a th:href="@{/system/permission/list}">Permission</a></li>
                                    <li th:class="${activeTab == 'role'}? 'active' : null"><a th:href="@{/system/role/list}">Role</a></li>
                                    <li th:class="${activeTab == 'user_administrator'}? 'active' : null"><a th:href="@{/system/user_administrator/list}">User Administrator</a></li>
                                </ul>
                            </li>
                            <li class="has_sub">
                                <a href="javascript:void(0);" th:classappend="${activeTab == 'regional' or activeTab == 'category' or activeTab == 'group' ? 'active' : null}"><i class="zmdi zmdi-globe-alt"></i> <span> Master </span> <span class="menu-arrow"></span></a>
                                <ul class="list-unstyled">
                                    <li th:class="${activeTab == 'regional'}? 'active' : null"><a th:href="@{/master/regional/list}">Regional</a></li>
                                    <li th:class="${activeTab == 'category'}? 'active' : null"><a  th:href="@{/master/category/list}">Category</a></li>
                                    <li th:class="${activeTab == 'group'}? 'active' : null"><a th:href="@{/master/group/list}">Group</a></li>
                                </ul>
                            </li>
                            <li class="has_sub">
                                <a th:class="${activeTab == 'member'}? 'active' : null" th:href="@{/member/list}"><i class="zmdi zmdi-account-box"></i><span> Member </span> </a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <!-- Sidebar -->
                    <div class="clearfix"></div>

                </div>

            </div>
            <!-- Left Sidebar End -->
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">
                        <!-- konten -->
                        <section layout:fragment="content"></section>
                        <!-- end konten -->
                    </div> <!-- content -->
                </div>
            </div>
            <!-- End content-page -->
            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->
            <!-- Right Sidebar -->
            <div class="side-bar right-bar">
                <div class="nicescroll">
                    <ul class="nav nav-tabs text-xs-center">
                        <li class="nav-item">
                            <a href="#home-2"  class="nav-link active" data-toggle="tab" aria-expanded="false">
                                Activity
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#messages-2" class="nav-link" data-toggle="tab" aria-expanded="true">
                                Settings
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="home-2">
                            <div class="timeline-2">
                                <div class="time-item">
                                    <div class="item-info">
                                        <small class="text-muted">5 minutes ago</small>
                                        <p><strong><a href="#" class="text-info">John Doe</a></strong> Uploaded a photo <strong>"DSC000586.jpg"</strong></p>
                                    </div>
                                </div>

                                <div class="time-item">
                                    <div class="item-info">
                                        <small class="text-muted">30 minutes ago</small>
                                        <p><a href="" class="text-info">Lorem</a> commented your post.</p>
                                        <p><em>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam laoreet tellus ut tincidunt euismod. "</em></p>
                                    </div>
                                </div>

                                <div class="time-item">
                                    <div class="item-info">
                                        <small class="text-muted">59 minutes ago</small>
                                        <p><a href="" class="text-info">Jessi</a> attended a meeting with<a href="#" class="text-success">John Doe</a>.</p>
                                        <p><em>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam laoreet tellus ut tincidunt euismod. "</em></p>
                                    </div>
                                </div>

                                <div class="time-item">
                                    <div class="item-info">
                                        <small class="text-muted">1 hour ago</small>
                                        <p><strong><a href="#" class="text-info">John Doe</a></strong>Uploaded 2 new photos</p>
                                    </div>
                                </div>

                                <div class="time-item">
                                    <div class="item-info">
                                        <small class="text-muted">3 hours ago</small>
                                        <p><a href="" class="text-info">Lorem</a> commented your post.</p>
                                        <p><em>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam laoreet tellus ut tincidunt euismod. "</em></p>
                                    </div>
                                </div>

                                <div class="time-item">
                                    <div class="item-info">
                                        <small class="text-muted">5 hours ago</small>
                                        <p><a href="" class="text-info">Jessi</a> attended a meeting with<a href="#" class="text-success">John Doe</a>.</p>
                                        <p><em>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam laoreet tellus ut tincidunt euismod. "</em></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="messages-2">

                            <div class="row m-t-20">
                                <div class="col-xs-8">
                                    <h5 class="m-0">Notifications</h5>
                                    <p class="text-muted m-b-0"><small>Do you need them?</small></p>
                                </div>
                                <div class="col-xs-4 text-right">
                                    <input type="checkbox" checked data-plugin="switchery" data-color="#64b0f2" data-size="small"/>
                                </div>
                            </div>

                            <div class="row m-t-20">
                                <div class="col-xs-8">
                                    <h5 class="m-0">API Access</h5>
                                    <p class="m-b-0 text-muted"><small>Enable/Disable access</small></p>
                                </div>
                                <div class="col-xs-4 text-right">
                                    <input type="checkbox" checked data-plugin="switchery" data-color="#64b0f2" data-size="small"/>
                                </div>
                            </div>

                            <div class="row m-t-20">
                                <div class="col-xs-8">
                                    <h5 class="m-0">Auto Updates</h5>
                                    <p class="m-b-0 text-muted"><small>Keep up to date</small></p>
                                </div>
                                <div class="col-xs-4 text-right">
                                    <input type="checkbox" checked data-plugin="switchery" data-color="#64b0f2" data-size="small"/>
                                </div>
                            </div>

                            <div class="row m-t-20">
                                <div class="col-xs-8">
                                    <h5 class="m-0">Online Status</h5>
                                    <p class="m-b-0 text-muted"><small>Show your status to all</small></p>
                                </div>
                                <div class="col-xs-4 text-right">
                                    <input type="checkbox" checked data-plugin="switchery" data-color="#64b0f2" data-size="small"/>
                                </div>
                            </div>

                        </div>
                    </div>
                </div> <!-- end nicescroll -->
            </div>
            <!-- /Right-bar -->
            <footer class="footer text-right">
                2016 © Uplon.
            </footer>
        </div>
        <!-- END wrapper -->
        <script>
            var resizefunc = [];
        </script>

        <!-- jQuery  -->
        <script th:src="@{/js/jquery.min.js}"></script>
        <script th:src="@{/js/tether.min.js}"></script><!-- Tether for Bootstrap -->
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/detect.js}"></script>
        <script th:src="@{/js/fastclick.js}"></script>
        <script th:src="@{/js/jquery.blockUI.js}"></script>
        <script th:src="@{/js/waves.js}"></script>
        <script th:src="@{/js/jquery.nicescroll.js}"></script>
        <script th:src="@{/js/jquery.scrollTo.min.js}"></script>
        <script th:src="@{/js/jquery.slimscroll.js}"></script>
        <script th:src="@{/plugins/switchery/switchery.min.js}"></script>
        
        <script th:src="@{/plugins/bootstrap-tagsinput/js/bootstrap-tagsinput.js}"></script>
        <script th:src="@{/plugins/select2/js/select2.full.min.js}" type="text/javascript"></script>

        <!--Morris Chart-->
<!--        <script th:src="@{/plugins/morris/morris.min.js}"></script>
        <script th:src="@{/plugins/raphael/raphael-min.js}"></script>-->

        <!-- Counter Up  -->
        <script th:src="@{/plugins/waypoints/lib/jquery.waypoints.js}"></script>
        <script th:src="@{/plugins/counterup/jquery.counterup.min.js}"></script>
        
        <!-- App js -->
        <script th:src="@{/js/jquery.core.js}"></script>
        <script th:src="@{/js/jquery.app.js}"></script>

        <!-- Page specific js -->
<!--        <script th:src="@{/pages/jquery.dashboard.js}"></script>-->
        <section layout:fragment="customJS"></section>
    </body>

</html>
