<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
            <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc."/>
            <meta name="author" content="Coderthemes"/>
            <!-- App Favicon -->
            <link rel="shortcut icon" th:href="@{/images/favicon.png}">
                <!-- App title -->
                <title>Aplikasi</title>
                <!-- Switchery css -->
                <link th:href="@{/css/switchery.min.css}" rel="stylesheet" />
                <!-- App CSS -->
                <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
                <!--fa fa icon-->
                <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
                    <!--zmdi icon-->
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
                        <!-- Modernizr js -->
                        <script th:src="@{/js/modernizr.min.js}"></script>
                        </head>
                        <body>
                            <div class="account-pages"></div>
                            <div class="clearfix"></div>
                            <div class="wrapper-page">
                                <div class="account-bg">
                                    <div class="card-box m-b-0">
                                        <div class="text-xs-center m-t-20">
                                            <a href="index.html" class="logo">
                                                <span>Aplikasi</span>
                                            </a>
                                        </div>
                                        <div class="m-t-30 m-b-20">
                                            <div class="col-xs-12 text-xs-center">
                                                <h6 class="text-muted text-uppercase m-b-0 m-t-0" href="#login-tab-content">Sign In</h6>
                                                <br>
                                            </div>
                                            <div class="tabs-content">
                                                <div id="login-tab-content" class="active">
                                                    <div th:if="${param.error}" class="alert alert-danger alert-dismissible fade in" role="alert" 
                                                         th:text="${messageErrorSecurity}">
                                                        <button type="button" class="close" data-dismiss="alert"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div th:if="${successMessage}" class="alert-info" th:text="${successMessage}"></div>
                                                    <div th:if="${errorMessage}" class="alert-error" th:text="${errorMessage}"></div>
                                                    <div th:if="${param.logout}" class="alert alert-success alert-dismissible fade in" role="alert">
                                                        <button type="button" class="close" data-dismiss="alert"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                        You have been logged out.
                                                    </div>
                                                    <form class="form-horizontal m-t-20" action="" method="post" th:action="@{/signin}">

                                                        <div class="form-group ">
                                                            <div class="col-xs-12">
                                                                <input class="form-control" name="username" type="text" required="" placeholder="Email">
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <div class="col-xs-12">
                                                                <input class="form-control" name="password" type="password" required="" placeholder="Password">
                                                            </div>
                                                        </div>

                                                        <div class="form-group text-center m-t-30">
                                                            <div class="col-xs-12">
                                                                <button class="btn btn-success btn-block waves-effect waves-light" type="submit">Log In</button>
                                                            </div>
                                                        </div>

                                                        <div class="form-group m-t-30 m-b-0">
                                                            <div class="col-sm-12">
                                                                <a th:href="@{/recovery}" class="text-muted"><i class="fa fa-lock m-r-5"></i> Forgot your password?</a>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end card-box-->

                                <div class="m-t-20">
                                    <div class="text-xs-center">
                                        <p class="text-white">Don't have an account? <a th:href="@{/signup}" class="text-white m-l-5"><b>Sign Up</b></a></p>
                                    </div>
                                </div>

                            </div>
                            <!-- end wrapper page -->
                            <script>
                                var resizefunc = [];
                            </script>
                            <!-- jQuery  -->
                            <script th:src="@{/js/jquery.min.js}"></script>
                            <script th:src="@{/js/tether.min.js}"></script><!-- Tether for Bootstrap -->
                            <script th:src="@{/js/bootstrap.min.js}"></script>
                            <script th:src="@{/js/detect.js}"></script>
                            <script th:src="@{/js/fastclick.js}"></script>
                            <script th:src="@{/js/jquery.blockUI.js}"></script>
                            <script th:src="@{/js/waves.js}"></script>
                            <script th:src="@{/js/jquery.nicescroll.js}"></script>
                            <script th:src="@{/js/jquery.scrollTo.min.js}"></script>
                            <script th:src="@{/js/jquery.slimscroll.js}"></script>
                            <script th:src="@{/js/switchery.min.js}"></script>

                            <!-- App js -->
                            <script th:src="@{/js/jquery.core.js}"></script>
                            <script th:src="@{/js/jquery.app.js}"></script>
                        </body>
                        </html>