<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc."/>
        <meta name="author" content="Coderthemes"/>
            <!-- App Favicon -->
        <link rel="shortcut icon" th:href="@{/images/favicon.png}">
            <!-- App title -->
        <title>Aplikasi</title>
            <!-- Switchery css -->
        <link th:href="@{/css/switchery.min.css}" rel="stylesheet" />
            <!-- App CSS -->
        <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
            <!--fa fa icon-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
            <!--zmdi icon-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
                <!-- Modernizr js -->
        <script th:src="@{/js/modernizr.min.js}"></script>
    </head>
        <body>
            <div class="account-pages"></div>
            <div class="clearfix"></div>
            <div class="wrapper-page">
                <div class="account-bg">
                    <div class="card-box m-b-0">
                        <div class="text-xs-center m-t-20">
                            <a href="index.html" class="logo">
                                <span>Aplikasi</span>
                            </a>
                        </div>
                        <div class="m-t-30 m-b-20">
                            <div class="col-xs-12 text-xs-center">
                                <h6 class="text-muted text-uppercase m-b-0 m-t-0" href="#login-tab-content">Sign Up</h6>
                            </div>
                            <div class="tabs-content">
                                <div id="login-tab-content" class="active">
                                    <div th:if="${param.error}" class="alert-error" th:text="${messageErrorSecurity}"></div>
                                    <div th:if="${successMessage}" class="alert-info" th:text="${successMessage}"></div>
                                    <div th:if="${errorMessage}" class="alert-error" th:text="${errorMessage}"></div>
                                    <form class="form-horizontal m-t-20" method="post" th:action="@{/signup}" th:object="${signup}">
                                        
                                        <div class="form-group ">
                                            <div class="col-xs-12">
                                                <input class="form-control" type="text" th:field="*{name}" required="" placeholder="Name">
                                            </div>
                                        </div>
                                        
                                        <div class="form-group ">
                                            <div class="col-xs-12">
                                                <input class="form-control" id="username" type="text" th:field="*{username}" required="" placeholder="Username">
                                                <span class="help-block" id="errorUsernameDuplicate" style="display: none"><span class="text-danger">Username has been used !</span></span>
                                            </div>
                                        </div>
                                        
                                        <div class="form-group ">
                                            <div class="col-xs-12">
                                                <input class="form-control" type="text" th:field="*{address}" required="" placeholder="Address">
                                            </div>
                                        </div>
                                        
                                        <div class="form-group ">
                                            <div class="col-xs-12">
                                                <input class="form-control" type="date" th:field="*{dateOfBirth}" required="" placeholder="Date of Birth">
                                            </div>
                                        </div>
                                        
                                        <div class="form-group ">
                                            <div class="col-xs-12">
                                                <input class="form-control" id="phone" type="text" th:field="*{phone}" required="" placeholder="Phone Number">
                                                <span class="help-block" id="errorPhoneDuplicate" style="display: none"><span class="text-danger">Phone has been used !</span></span>
                                            </div>
                                        </div>
                                        
                                        <div class="form-group ">
                                            <div class="col-xs-12">
                                                <input class="form-control" id="email" type="email" th:field="*{email}" required="" placeholder="Email">
                                                <span class="help-block" id="errorEmailDuplicate" style="display: none"><span class="text-danger">Email has been used !</span></span>
                                            </div>
                                        </div>
                                        
                                        <div class="form-group ">
                                            <div class="col-xs-12">
                                                <input class="form-control" id ="password" type="password" th:field="*{password}" required="" placeholder="Password">
                                                <span class="help-block" id="pwValidateUpperCase" style="display: none"><span class="text-danger">Must have Capital (uppercase) letter, </span></span>
                                                <span class="help-block" id="pwValidateLowerCase" style="display: none"><span class="text-danger">Must have lowercase letter, </span></span>
                                                <span class="help-block" id="pwValidateNumber" style="display: none"><span class="text-danger">Must have number, </span></span>
                                                <span class="help-block" id="pwValidateLength" style="display: none"><span class="text-danger">Minimum 8 character</span></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-xs-12">
                                                <input class="form-control" id="confirmPassword" type="password" required="" placeholder="Confirm Password">
                                                <span class="help-block" id="errorConfirmPassword" style="display: none"><span style="color: red">Password doesn't match !</span></span>
                                            </div>
                                        </div>

                                        <div class="form-group text-center m-t-30">
                                            <div class="col-xs-12">
                                                <button id="btnSubmit" class="btn btn-success btn-block waves-effect waves-light" type="submit">Join Now</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end card-box-->

                <div class="m-t-20">
                    <div class="text-xs-center">
                        <p class="text-white">Already have an account? <a th:href="@{/}" class="text-white m-l-5"><b>Sign In</b></a></p>
                    </div>
                </div>

            </div>
                        <!-- end wrapper page -->
    <script>
        var resizefunc = [];
    </script>
                        <!-- jQuery  -->
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/tether.min.js}"></script><!-- Tether for Bootstrap -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/detect.js}"></script>
    <script th:src="@{/js/fastclick.js}"></script>
    <script th:src="@{/js/jquery.blockUI.js}"></script>
    <script th:src="@{/js/waves.js}"></script>
    <script th:src="@{/js/jquery.nicescroll.js}"></script>
    <script th:src="@{/js/jquery.scrollTo.min.js}"></script>
    <script th:src="@{/js/jquery.slimscroll.js}"></script>
    <script th:src="@{/js/switchery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/passwordValidator.js}"></script>
    <script>
        var chekUsername = true, checkEmail = true, checkPw = true, checkPhone = true;
        
        $("#username").keyup(function () {
            $.get("[[@{/api/user/username?m=}]]" + $("#username").val()).done(function (data) {
                if (data.status == 'SUCCESS') {
                    $("#errorUsernameDuplicate").css('display', 'block');
                    checkUsername = false;
                    checkError(checkUsername, checkEmail, checkPw, checkPhone);
                } else {
                    $("#errorUsernameDuplicate").css('display', 'none');
                    checkUsername = true;
                    checkError(checkUsername, checkEmail, checkPw, checkPhone);
                }
            });
        });

        $("#confirmPassword").keyup(function () {
            var password = $("#password").val();
            var confirmPassword = $("#confirmPassword").val();
            if (confirmPassword != password) {
                checkPw = false;
                $("#errorConfirmPassword").css('display', 'block');
                checkError(checkUsername, checkEmail, checkPw, checkPhone);
            } else {
                $("#errorConfirmPassword").css('display', 'none');
                checkPw = true;
                checkError(checkUsername, checkEmail, checkPw, checkPhone);
            }
        });

        $("#email").keyup(function () {
            $.get("[[@{/api/user/email?m=}]]" + $("#email").val()).done(function (data) {
                if (data.status == 'SUCCESS') {
                    $("#errorEmailDuplicate").css('display', 'block');
                    checkEmail = false;
                    checkError(checkUsername, checkEmail, checkPw, checkPhone);
                } else {
                    $("#errorEmailDuplicate").css('display', 'none');
                    checkEmail = true;
                    checkError(checkUsername, checkEmail, checkPw, checkPhone);
                }
            });
        });
        
        $("#phone").keyup(function () {
            $.get("[[@{/api/user/phone?m=}]]" + $("#phone").val()).done(function (data) {
                if (data.status == 'SUCCESS') {
                    $("#errorPhoneDuplicate").css('display', 'block');
                    checkPhone = false;
                    checkError(checkUsername, checkEmail, checkPw, checkPhone);
                } else {
                    $("#errorPhoneDuplicate").css('display', 'none');
                    checkPhone = true;
                    checkError(checkUsername, checkEmail, checkPw, checkPhone);
                }
            });
        });

        function checkError(username, email, pw, phone) {
            if (username && email && pw && phone) {
                $('#btnSubmit').prop('disabled', false);
            } else {
                $('#btnSubmit').prop('disabled', true);
            }
        }

        $("#password").keyup(function () {
            $("#confirmPassword").val("");
            validatePassword(this);
        })
    </script>   

    <!-- App js -->
    <script th:src="@{/js/jquery.core.js}"></script>
    <script th:src="@{/js/jquery.app.js}"></script>
    </body>
</html>