<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:with="activeTab='dashboard'"
      layout:decorate="~{layout_m}">
    <head>
        <title>Profile</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <section layout:fragment="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-title-box">
                        <h4 class="page-title">Profile</h4>
                        <ol class="breadcrumb p-0">
                            <li>
                                <span>Profile</span>
                            </li>
                        </ol>
                        <div class="clearfix"></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 center-block">
                            <div class="col-xs-12 col-md-6 col-lg-6 col-xs-12">
                                <div class="card-box tilebox-one">
                                    <img th:if="${profile.pictureUrl != null}" th:src="@{/image/profile/} + ${profile.pictureUrl}" class="img-t img-circle center-block" width="150" height="150">
                                    <img th:if="${profile.pictureUrl == null}" th:src="@{/images/user.png}" class="img-t img-circle center-block" width="150" height="150">
                                    <br>
                                    <h2 class="m-b-20" data-plugin="counterup" style="text-align: center;" th:text="${profile.name}"></h2> 
                                    <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
                                        <div class="col-xs-12 col-md-6 col-lg-6">
                                            <h6 class="text-muted" style="margin-top: 10px;">Date of Birth</h6>
                                            <span class="label label-default" th:text="${#dates.format(profile.dateOfBirth, 'dd-MM-yyyy')}"> Abdul rahman Agung </span>
                                            <hr>
                                            <h6 class="text-muted" style="margin-top: 10px;">Address</h6>
                                            <span class="label label-info" th:text="${profile.address}"> New York City, USA. </span>
                                            <hr>
                                            <h6 class="text-muted" style="margin-top: 10px;">Phone Number</h6>
                                            <span class="label label-pink"th:text="${profile.phone}"> 081312501996 </span>
                                            <hr>
                                            <h6 class="text-muted" style="margin-top: 10px;">Email</h6>
                                            <span class="label label-danger" th:text="${profile.email}"> ara160497@gmail.com </span>
                                            <hr>    
                                        </div>
                                        <button class="btn btn-default center-block" type="submit"><a th:href="@{/profile_member/form}"> Change Profile</a></button>
                                        <a th:href="@{/members/form}" class="btn btn-default center-block"> Change Profile</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>